<div class='row'>
    <button mat-icon-button color="basic" aria-label="retour à la page
        précédente" (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
    <h3 *ngIf="title">{{title}}</h3>
</div>