<div class="d-flex h-75 flex-column justify-content-between" *ngIf="!error;
    else
    errorBlock">
    <div *ngIf="loading" class="d-flex justify-content-center align-items-center
        vertical-center">
        <mat-spinner class="container mat-spinner" mode="indeterminate"></mat-spinner>
    </div>
    <div [class.m-4]="!mobile" *ngIf="!loading">
        <mat-tab-group class="mb-4" (selectedTabChange)="tabClick($event)" animationDuration="500ms" (touchstart)="onSwipe($event, 'start')" (touchend)="onSwipe($event, 'end')" [(selectedIndex)]="selectedTab" dynamicHeight mat-align-tabs="left">
            <div *ngIf="!mobile; else mobileBlock">
                <div *ngFor="let category of product_categories">
                    <mat-tab>
                        <ng-template mat-tab-label>{{ category.name }}</ng-template>
                        <div class="row mt-4">
                            <div class="col-md-3 col-lg-2 col-12 col-sm-4" *ngFor="let product
                                of
                                getProductsByCat(category.name)">
                                <mat-card>
                                    <img mat-card-lg-image src="{{ BASE_API_URL
                                        }}/{{ product.product.image_path }}" alt="Photo
                                        of the product" />
                                    <mat-card-content>
                                        <p>
                                            {{ product.product.title }}
                                        </p>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-button>Ajouter au panier</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    </mat-tab>
                </div>
            </div>

            <ng-template #mobileBlock>
                <div *ngFor="let category of product_categories">
                    <mat-tab>
                        <ng-template mat-tab-label>{{ category.name }}</ng-template>
                        <mat-list class="p-2">
                            <mat-list-item class="p-2" *ngFor="let product of
                                getProductsByCat(category.name)">
                                <img matListAvatar src="{{ BASE_API_URL }}/{{
                                    product.product.image_path }}" />
                                <h2 matLine>{{ product.product.title }}</h2>
                                <h6 matLine>{{ product.product.description }}</h6>
                                <h6 matLine *ngIf="product.product.quantity> 1">
                                    Nombre de pièces : {{ product.product.quantity }}
                                </h6>
                                <h6 matLine>3€</h6>
                                <h6 matLine *ngIf="product.product.quantity <=
                                    1">
                                    <br />
                                </h6>
                                <mat-action-list>
                                    <button (click)="addQuantity(product)" mat-mini-fab color="basic" class="atc-button button-primary" aria-label="Example icon button with a
                                        home icon">
                                        <mat-icon class="atc-icon">add</mat-icon>
                                    </button>
                                    <p class="m-2 primary-color">{{ product.user_quantity }}</p>
                                    <button (click)="removeQuantity(product)" [disabled]="product.user_quantity == 0" color="basic" class="button-secondary
                                        atc-button" mat-mini-fab aria-label="Example icon button
                                        with a
                                        home icon">
                                        <mat-icon class="atc-icon">remove</mat-icon>
                                    </button>
                                </mat-action-list>
                                <mat-divider></mat-divider>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                </div>
            </ng-template>
        </mat-tab-group>
    </div>
    <div class="d-flex flex-row justify-content-between">
        <div class="ml-4">
            <button [disabled]="getUserProductsCount() === 0" (click)="clearCart()" color="basic" class="button-error" mat-fab aria-label="clear cart">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </div>
        <div class="mr-4">
            <button (click)="gotoCart()" [disabled]="getUserProductsCount() ===
                0" color="basic" class="button-primary" mat-fab aria-label="goto
                cart button" [matBadgeHidden]="getUserProductsCount() === 0" [matBadge]="getUserProductsCount()" matBadgePosition="before" matBadgeColor="basic">
                <mat-icon>shopping_cart</mat-icon>
            </button>
        </div>
    </div>
</div>

<ng-template #errorBlock>
    <div class="d-flex justify-content-center align-items-center
        vertical-center">
        <div class="alert alert-error" role="alert">
            <h4 class="alert-heading">
                <mat-icon>error</mat-icon> Erreur</h4>
            <p>
                Vous semblez être hors-ligne
            </p>
        </div>
    </div>
</ng-template>