<div class="mt-5 mb-5 container container-fluid">
    <h1 class="display-4">{{app_title}}</h1>
    <div class="mt-4 mb-4">
        <p class="lead">
            Chez {{app_title}}, rejoignez une table facilement et passez votre commander directement via l'application. Possibilité d'obtenir une note de frais.
        </p>
        <hr />
        <p>Un QR code à scanner et vous avez accès à la carte du restaurant</p>
    </div>
    <img class="img-fluid" src="../../assets/images/home_wallpaper.jpg" />
</div>