<nav class="navbar navbar-expand-lg navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="navbar-brand" routerLink="/">
                <img src="/assets/images/logo.jpg" width="60" height="60" class="d-inline-block align-top" />
            </a>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" (click)="isCollapsed=
        !isCollapsed" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div (click)="isCollapsed= !isCollapsed" [attr.aria-expanded]="!isCollapsed" [ngClass]="{ collapse: isCollapsed }" class="collapse navbar-collapse
        justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive>Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive>Contact</a>
            </li>
        </ul>
        <ul *ngIf="tableService.userLoggedIn()" class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/card/products" routerLinkActive>La
                    Carte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cart" routerLinkActive>Mon
                    Panier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/order" routerLinkActive>Mes
                    commandes</a>
            </li>
        </ul>
    </div>
</nav>