<div class="my-2 py-2 mx-4 d-flex h-75 flex-column justify-content-between">
    <div>
        <app-goback title='Mon panier' path='card/products'></app-goback>
        <small *ngIf="master">Tu es le maitre de la table </small>
        <hr />
        <div *ngIf="userProducts.length !== 0; else emptyCartBlock">
            <mat-list class="mt-4">
                <mat-list-item *ngFor="let product of userProducts">
                    <img matListAvatar src="{{ BASE_API_URL }}/{{
                        product.product.image_path }}" />
                    <h2 matLine>{{ product.product.title }}</h2>
                    <small>quantité : {{ product.user_quantity }}</small>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <div *ngIf="userProducts.length !== 0" class="d-flex flex-row
        justify-content-between">
        <div class="ml-4">
            <button [disabled]="userProducts.length === 0" (click)="askClearCart()" color="basic" class="button-error" mat-fab aria-label="clear cart">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </div>
        <div class="mr-4">
            <button (click)="validateOrder()" [disabled]="userProducts.length
                === 0" color="basic" class="button-primary" mat-fab aria-label="goto cart button">
                <mat-icon>done</mat-icon>
            </button>
        </div>
    </div>

    <ng-template #emptyCartBlock>
        <h4 class="lead mt-3">Aucun produit dans le panier</h4>
    </ng-template>
</div>