<div class="my-2 py-2 mx-4">
    <div *ngIf="loading; else ordersBlock" class="d-flex justify-content-center
        align-items-center vertical-center">
        <mat-spinner class="container mat-spinner" mode="indeterminate"></mat-spinner>
    </div>
    <ng-template #ordersBlock>
        <app-goback [title]="getTitle()"></app-goback>
        <small *ngIf="customer.master">Tu es le maitre de la table </small>
        <hr />
        <div *ngIf="orders.length !== 0; else emptyOrdersBlock">
            <div *ngFor="let order of orders; let idx= index" class="mt-4">
                <mat-card>
                    <mat-card-header class="p-2">
                        <mat-card-title>
                            Commande du {{ order.createdAt | date: "dd/MM/yyyy à HH:mm:ss" }}
                        </mat-card-title>
                        <mat-panel-description>
                            <mat-icon *ngIf="!customer.master">{{ getStatusIcon(order.status) }}
                            </mat-icon>
                            <p *ngIf="customer.master">{{ getUsername(order.username) }}</p>
                        </mat-panel-description>
                    </mat-card-header>
                    <mat-list>
                        <mat-list-item *ngFor="let product of order.products">
                            <img matListAvatar src="{{ BASE_API_URL }}/{{
                                product.product.image_path }}" />
                            <h1 matLine class="lead">{{ product.product.title }}</h1>
                            <h6 matLine>Quantité : {{ product.user_quantity }}</h6>
                        </mat-list-item>
                    </mat-list>
                    <div *ngIf="!customer.master">
                        <mat-divider></mat-divider>
                        <p class="p-2 mt-2">
                            Statut : {{ getStatusMessage(order.status) }}
                        </p>
                    </div>
                    <mat-card-actions *ngIf="!customer.master;else
                        masterActions" align="end">
                        <button (click)="performAction(userAction.CANCEL,order)" mat-button color="basic" class="button-error">
                            <div *ngIf="order.status !== 'declined'">
                                Annuler</div>
                            <div *ngIf="order.status === 'declined'">Supprimer</div>
                        </button>
                        <button mat-button color="basic" class="button-primary">
                            Détails
                        </button>
                    </mat-card-actions>
                    <ng-template #masterActions>
                        <mat-card-actions align="end">
                            <button (click)="performAction(userAction.DECLINE,order)" *ngIf="order.username !==
                                customer.username;else masterCanceled" mat-button color="basic" class="button-error">
                                Refuser
                            </button>
                            <ng-template #masterCanceled>
                                <button (click)="performAction(userAction.CANCEL,order)" mat-button color="basic" class="button-error">
                                    Annuler
                                </button>
                            </ng-template>
                        </mat-card-actions>
                    </ng-template>
                </mat-card>
                <mat-divider></mat-divider>
            </div>
        </div>
        <ng-template #emptyOrdersBlock>
            <h4 class="lead mt-3">Vous n'avez aucune commande</h4>
        </ng-template>
    </ng-template>
</div>