<div class="container container-fluid">
    <div *ngIf="loading" class="d-flex justify-content-center align-items-center
        vertical-center">
        <mat-spinner class="container mat-spinner" mode="indeterminate"></mat-spinner>
    </div>
    <div class="mt-4" *ngIf="!loading">
        <div *ngIf="!error; else errorBlock">
            <h1 class="display-4">Rejoindre une table</h1>
            <p class="lead mt-4 mb-4">
                Pour rejoindre cette table, vous devez saisir votre nom d'utilisateur
            </p>
            <form #usernameForm="ngForm" (ngSubmit)="joinTable()">
                <label for="username">Nom d'utilisateur</label>
                <div class="mb-4">
                    <div class="input-group pt-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <mat-icon class="primary-color">person</mat-icon>
                            </div>
                        </div>
                        <input [class.is-invalid]="userName.touched &&
                            userName.invalid" autofocus="true" minlength="2" type="text" class="form-control" #userName="ngModel" id="username" name="username" placeholder="minimum 2 caractères requis" [(ngModel)]="username" required />
                    </div>
                    <div *ngIf="userName.errors && userName.touched">
                        <small class="text-danger" *ngIf="userName.errors.required">Le nom
                            d'utilisateur est requis.</small>
                        <small class="text-danger" *ngIf="userName.errors.minlength">Le nom
                            d'utilisateur doit contenir 2 caractères minimum</small>
                    </div>
                </div>
                <button class="button-secondary" [disabled]="!usernameForm.valid" mat-flat-button>
                    Rejoindre
                </button>
            </form>
        </div>

        <ng-template #errorBlock>
            <div class="alert alert-danger button-error" role="alert">
                <h4 class="alert-heading">
                    <mat-icon>error</mat-icon> Impossible de rejoindre la table !
                </h4>
                <p>
                    {{ error_message }}
                </p>
                <hr />
                <p class="mb-0">
                    Si le problème persiste, contactez le service client :
                </p>
                <button mat-flat-button class="mt-4 btn btn-danger button-error" [routerLink]="['/contact']">
                    Contacter le service client
                </button>
            </div>
        </ng-template>
    </div>
</div>