@import "~bootstrap/dist/css/bootstrap.css";
@import "theme.scss";
app-root {
    height: 100%;
}

.alert-error {
    background-color: $error-color;
    color: white;
}

.mat-badge-content {
    background: $secondary-color;
}

html,
body {
    min-height: 100%;
    height: 100%;
}

.fab-validate {
    position: absolute;
    margin-bottom: 5%;
    margin-right: 5%;
}

.mat-tab-body-wrapper {
    flex-grow: 1;
}

#wrapper {
    min-height: 100%;
    height: 100%;
}

#tab-group {
    height: 100%;
}

#tab-group mat-tab-body {
    flex-grow: 1;
}

:host {
    box-sizing: border-box;
    display: block;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.navbar {
    background-color: $primary-color !important;
    color: white;
}

.footer {
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    justify-content: space-between;
}

.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.button-error {
    background-color: $error-color;
    color: white;
}

.button-primary {
    background-color: $primary-color;
    color: white;
}

.button-secondary {
    background-color: $secondary-color;
    color: white;
}

.mat-spinner circle {
    stroke: $secondary-color !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: $secondary-color;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.div-center {
    display: flex;
    align-items: center;
}

*:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem #fff, 0 0 0 0.35rem #069 !important;
}

*:focus:not(.focus-visible) {
    outline: 0 !important;
    box-shadow: none !important;
}

@import "~bootstrap/scss/bootstrap";